.imperio{
    background-color: red;
}

.rebeldes{
    background-color: blue;
}

#vader{
    font-size: 200%;
}

#luke{
    font-style: italic;
}

.soldados{
    border: dashed;
    letter-spacing: .2rem;
}

.apoyo{
    text-align: center;
}

.naves{
    text-transform: capitalize;
}
